// Colors
$dark-background: #000;
$body-foreground: #333;
$nav-background: #000;
$nav-foreground: #fff;

// Textures
// $background-texture: url(../images/backgrounds/blackboard.jpeg);

// Typography
$headings: 'Julius Sans One';
$text: 'Merriweather';
